<app-header></app-header>

<div class="content">
  <h3 class="fw-light">Editar Usuário</h3>

  <div>
    <div class="row g-3">
      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Joaquim"
          [(ngModel)]="formUsuario.nome"
        />
        <label for="floatingInput">Nome</label>
      </div>

      <div class="form-floating col-md-6">
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="formUsuario.senha"
        />
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="form-floating col-md-6">
        <input
          type="email"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="formUsuario.email"
        />
        <label for="floatingPassword">E-mail</label>
      </div>

      <div class="mb-3 row col-md-6">
        <label>Acesso</label>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            value="restrito"
            [(ngModel)]="formUsuario.acesso"
            checked
          />
          <label class="btn btn-outline-primary" for="btnradio1"
            >Restrito</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
            value="total"
            [(ngModel)]="formUsuario.acesso"
          />
          <label class="btn btn-outline-primary" for="btnradio2">Total</label>
        </div>
      </div>

      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="formUsuario.telefone"
        />
        <label for="floatingPassword">Telefone</label>
      </div>

      <div class="mb-3 row col-md-6">
        <label>Função</label>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradioFuncao"
            id="btnradioFuncao1"
            autocomplete="off"
            value="usuario"
            checked
            [(ngModel)]="formUsuario.funcao"
          />
          <label class="btn btn-outline-primary" for="btnradioFuncao1"
            >Usuário</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradioFuncao"
            id="btnradioFuncao2"
            autocomplete="off"
            value="instrutor"
            [(ngModel)]="formUsuario.funcao"
          />
          <label class="btn btn-outline-primary" for="btnradioFuncao2">Instrutor</label>
        </div>
      </div>

      <div class="form-floating col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="formUsuario.cep"
          (blur)="buscarCep($event)"
        />
        <label for="floatingPassword">CEP</label>
        <small *ngIf="cepNaoEncontrado" style="color: red"
          >CEP não encontrado, coloque um CEP válido!</small
        >
      </div>
      <div [class]="classToApply">
        <div class="row g-3">
          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="formUsuario.logradouro"
              disabled
            />
            <label for="floatingPassword">Logradouro</label>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="formUsuario.bairro"
              disabled
            />
            <label for="floatingPassword">Bairro</label>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="formUsuario.cidade"
              disabled
            />
            <label for="floatingPassword">Cidade</label>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="formUsuario.estado"
              disabled
            />
            <label for="floatingPassword">Estado</label>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="editar()">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
