<div class="content">
  <h3 class="fw-light">Novo Produto</h3>

  <div>
    <div class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nome Produto</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          [(ngModel)]="nome"
        />
      </div>
      <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Descrição Produto</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword4"
          [(ngModel)]="descricao"
        />
      </div>
      <div class="col-6">
        <label for="inputAddress" class="form-label">Preço</label>
        <input
          type="number"
          class="form-control"
          id="inputAddress"
          placeholder="R$8.50"
          [(ngModel)]="preco"
        />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Categoria</label>
        <select id="inputState" class="form-select" [(ngModel)]="categoria">
          <option selected>Selecione...</option>

          <option *ngFor="let item of categorias" [value]="item.id">
            {{ item.nome_categoria }}
          </option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="goAltera()">
          Alterar
        </button>
      </div>
    </div>
  </div>
</div>
