<div class="usersTable">
  <div class="boxShadow">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">E-mail</th>
        <th scope="col">Adress</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
        <th scope="col">Company</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          {{ user.address.street }}, {{ user.address.suite }},
          {{ user.address.city }}
        </td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="goAcessar(user.id)">Acessar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
