.table {
  text-align: center;
  border: solid 1px;
  width: 90%;
  margin-left: 5em;
  background: beige;
}

.botoes {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1em;
}
