<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Segundo exercício</title>
</head>
<body>
  <h1>Segundo App Exercício</h1>
  <hr>
  <h2>Perfil</h2>
  <br>
  <p>Nome: </p> <app-primeiro-componente></app-primeiro-componente>
  <br>
  <p>informação residencial:</p>
  <app-segundo-componente></app-segundo-componente>
  <br>
  <p>Informação de Pessoa física:</p>
  <app-terceiro-componente></app-terceiro-componente>
</body>
</html>
